<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BHD Solutions</title>
    <link rel="stylesheet" href="static/css/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand m-3" href="#"><img src="static/img/icons8-building-64 (1).png" alt="icono principal"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active m-3" aria-current="page" href="#">
                      {% for usuario in usuarios %}
                      {% if email == usuario['email'] %}
                    Usuario: {{usuario['nombre']}} {{usuario['apellido']}}
                    {% endif %}
                    {% endfor %}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active m-3" href="#">Unidad: 103</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active m-3" href="#">Edificio A</a>
                  </li>
                </ul>
                <button type="button" class="btn btn-outline-primary m-3">Cerrar Sesion</button>
              </div>
            </div>
          </nav>

    </header>

    <main class="container">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Crear Reclamo
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body d-flex justify-content-around">
              <!-- incluimos las tarjetas de cada uno de los servicios -->
              <div class="card" style="width: 18rem;">
                <img src="static/img/electricista.jpg" class="card-img-top" alt="electricista">
                <div class="card-body">
                  <form action="" method="post">
                  <h5 class="card-title">Electricista</h5>
                  <p class="card-text">Crear nuevo reclamo para reparacion eléctrica</p>
                  <div class="mb-3">
                    <textarea class="form-control" id="textAreaElectricista" rows="3" name="descripcion" required></textarea>
                    </div>
                  <input type="checkbox" name="id_servicio" value="ELEC100" checked> Soy responsable de la veracidad del reclamo<br>
                    <input class= "boxOculto" type="checkbox" name="id_usuario" value="
                    {% for usuario in usuarios %}
                      {% if email == usuario['email'] %}
                   {{usuario['id']}}
                    {% endif %}
                    {% endfor %}"
                           checked>

                  <button type="submit" class="btn btn-primary">Crear Reclamo</button>
                </form>
{% with messages = get_flashed_messages() %}
  {% if messages %}

    {% for message in messages %}

                    <p>{{ message }}</p>


        {% endfor %}

  {% endif %}
{% endwith %}
{% block body %}{% endblock %}

                  {% if error %}
              <p><strong>{{error}}</strong></p>
              {% endif %}
                </div>
              </div>



                              <div class="card" style="width: 18rem;">
                <img src="static/img/sanitario.jpg" class="card-img-top" alt="sanitario">                <div class="card-body">
                  <form action="" method="post">
                  <h5 class="card-title">Sanitario</h5>
                  <p class="card-text">Crear nuevo reclamo para reparaciones generales, obstrucciones en areas comunes y tanques</p>
                  <div class="mb-3">
                    <textarea class="form-control" id="textAreaSanitario" rows="3" name="descripcion" required></textarea>
                    </div>
                  <input type="checkbox" name="id_servicio" value="SANI300" checked> Soy responsable de la veracidad del reclamo<br>
                    <input class= "boxOculto" type="checkbox" name="id_usuario" value="
                    {% for usuario in usuarios %}
                      {% if email == usuario['email'] %}
                   {{usuario['id']}}
                    {% endif %}
                    {% endfor %}"
                           checked>

                  <button type="submit" class="btn btn-primary">Crear Reclamo</button>
                </form>
{% with messages = get_flashed_messages() %}
  {% if messages %}

    {% for message in messages %}

                    <p>{{ message }}</p>


        {% endfor %}

  {% endif %}
{% endwith %}
{% block body2 %}{% endblock %}

                  {% if error %}
              <p><strong>{{error}}</strong></p>
              {% endif %}
                </div>
              </div>


                                             <div class="card" style="width: 18rem;">
                <img src="static/img/jardinero.png" class="card-img-top" alt="jardinero">
                                                 <div class="card-body">
                  <form action="" method="post">
                  <h5 class="card-title">Jardinero</h5>
                  <p class="card-text">Crear nuevo reclamo ante caida de ramas, limpieza de jardines y afines</p>
                  <div class="mb-3">
                    <textarea class="form-control" id="textAreaJardinero" rows="3" name="descripcion" required></textarea>
                    </div>
                  <input type="checkbox" name="id_servicio" value="JARD200" checked> Soy responsable de la veracidad del reclamo<br>
                    <input class= "boxOculto" type="checkbox" name="id_usuario" value="
                    {% for usuario in usuarios %}
                      {% if email == usuario['email'] %}
                   {{usuario['id']}}
                    {% endif %}
                    {% endfor %}"
                           checked>

                  <button type="submit" class="btn btn-primary">Crear Reclamo</button>
                </form>
{% with messages = get_flashed_messages() %}
  {% if messages %}

    {% for message in messages %}

                    <p>{{ message }}</p>


        {% endfor %}

  {% endif %}
{% endwith %}
{% block body3 %}{% endblock %}

                  {% if error %}
              <p><strong>{{error}}</strong></p>
              {% endif %}
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Modificar Reclamo
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Listar Reclamos
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
<div class="accordion-body">

              <table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Descripcion</th>
      <th scope="col">id_servicio</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>

  {% for reclamo in reclamos %}
      <tr>
      <th scope="row">{{reclamo['id']}}</th>
      <td>{{reclamo['descripcion']}}</td>
      <td>{{reclamo['id_servicio']}}</td>
      <td>{{reclamo['estado']}}</td>
      </tr>
    </tbody>
  {% endfor %}
</table>

            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Listar Usuarios en el edificio
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">

              <table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Unidad</th>
    </tr>
  </thead>
  <tbody>

  {% for usuario in usuarios %}
      <tr>
      <th scope="row">{{usuario['id']}}</th>
      <td>{{usuario['nombre']}}</td>
      <td>{{usuario['apellido']}}</td>

      <td>
        {% for unidad in unidades %}
          {% if usuario['idunidad'] == unidad['id'] : %}
            {{unidad['numero']}}
          {% endif %}
        {% endfor %}
      </td>
      </tr>
    </tbody>
  {% endfor %}
</table>

            </div>
          </div>
        </div>
      </div>
    </main>



  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>

</body>
</html>