<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BHD Solutions</title>
    <link rel="stylesheet" href="static/css/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>
<body>
    <header>


    {% include 'navbar.html' %}
    </header>

    <main class="container">
        <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="false">Crear Reclamo</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Gestionar Reclamos</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Listar Usuarios en el Edificio</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
                                  <p id="mensajeReclamo">{{ message }}</p>
                                  {% endfor %}
                                  {% endif %}
{% endwith %}
{% block body2 %}{% endblock %}

                  {% if error %}
              <p><strong>{{error}}</strong></p>
              {% endif %}
      <div class="d-flex justify-content-around">
<div class="card" style="width: 18rem;">
                <img src="static/img/electricista.jpg" class="card-img-top" alt="electricista">
                <div class="card-body">
                  <form action="" method="post">
                  <h5 class="card-title">Electricista</h5>
                  <p class="card-text">Crear nuevo reclamo para reparacion eléctrica</p>
                  <div class="mb-3">
                    <textarea class="form-control" id="textAreaElectricista" rows="3" name="descripcion" required></textarea>
                    </div>
                  <input type="checkbox" name="id_servicio" value="ELEC100" checked> Soy responsable de la veracidad del reclamo<br>
                    <input class= "boxOculto" type="checkbox" name="id_usuario" value="
                    {% for usuario in usuarios %}
                      {% if email == usuario['email'] %}
                   {{usuario['id']}}
                    {% endif %}
                    {% endfor %}"
                           checked>

                  <button type="submit" class="btn btn-primary">Crear Reclamo</button>
                </form>

                </div>
              </div>



                              <div class="card" style="width: 18rem;">
                <img src="static/img/sanitario.jpg" class="card-img-top" alt="sanitario">                <div class="card-body">
                  <form action="" method="post">
                  <h5 class="card-title">Sanitario</h5>
                  <p class="card-text">Crear nuevo reclamo para reparaciones generales, obstrucciones en areas comunes y tanques</p>
                  <div class="mb-3">
                    <textarea class="form-control" id="textAreaSanitario" rows="3" name="descripcion" required></textarea>
                    </div>
                  <input type="checkbox" name="id_servicio" value="SANI300" checked> Soy responsable de la veracidad del reclamo<br>
                    <input class= "boxOculto" type="checkbox" name="id_usuario" value="
                    {% for usuario in usuarios %}
                      {% if email == usuario['email'] %}
                   {{usuario['id']}}
                    {% endif %}
                    {% endfor %}"
                           checked>
                  <button type="submit" class="btn btn-primary">
                    Crear Reclamo
                    </button>
                </form>


                </div>
              </div>


                                             <div class="card" style="width: 18rem;">
                <img src="static/img/jardinero.png" class="card-img-top" alt="jardinero">
                                                 <div class="card-body">
                  <form action="" method="post">
                  <h5 class="card-title">Jardinero</h5>
                  <p class="card-text">Crear nuevo reclamo ante caida de ramas, limpieza de jardines y afines</p>
                  <div class="mb-3">
                    <textarea class="form-control" id="textAreaJardinero" rows="3" name="descripcion" required></textarea>
                    </div>
                  <input type="checkbox" name="id_servicio" value="JARD200" checked> Soy responsable de la veracidad del reclamo<br>
                    <input class= "boxOculto" type="checkbox" name="id_usuario" value="
                    {% for usuario in usuarios %}
                      {% if email == usuario['email'] %}
                   {{usuario['id']}}
                    {% endif %}
                    {% endfor %}"
                           checked>

                  <button type="submit" class="btn btn-primary">Crear Reclamo</button>
                </form>

                </div>
              </div>
</div>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Servicio</th>
      <th scope="col">Estado</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

  {% for reclamo in reclamos %}
      <tr>
      <th scope="row">{{reclamo['id']}}</th>
      <td>{{reclamo['descripcion']}}</td>


          {% if reclamo['id_servicio'] == "ELEC100" %}
              <td>ELECTRICISTA</td>
          {% elif reclamo['id_servicio'] == "SANI300" %}
            <td>SANITARIO</td>
          {% elif reclamo['id_servicio'] == "JARD200" %}
            <td>JARDINERO</td>
              {% endif %}




      <td>{{reclamo['estado']}}</td>
      <td><a href="/completarReclamo/[{{reclamo['id']}}, {{email}}]">Completar</a> </td>
      <td><a href="/borrarReclamo/[{{reclamo['id']}}, {{email}}]">Eliminar</a> </td>
      </tr>
    </tbody>
  {% endfor %}
</table>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Unidad</th>
    </tr>
  </thead>
  <tbody>

  {% for usuario in usuarios %}
      <tr>
      <th scope="row">{{usuario['id']}}</th>
      <td>{{usuario['nombre']}}</td>
      <td>{{usuario['apellido']}}</td>

      <td>
        {% for unidad in unidades %}
          {% if usuario['idunidad'] == unidad['id'] : %}
            {{unidad['numero']}}
          {% endif %}
        {% endfor %}
      </td>
      </tr>
    </tbody>
  {% endfor %}
</table>
  </div>
</div>


    </main>



  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>

</body>
</html>